
html{
    scroll-behavior: smooth;
    scroll-padding: 4vh;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    background: rgb(85, 7, 7);
    background: linear-gradient(to bottom, rgb(85, 7, 7) 0%, rgb(0, 0, 0) 100%);
    color: white;
    text-shadow: 1px 1px 1px gray;
    
}

nav	{
	
	height: 4vh;
	text-align: center;
    background-color:black;
}
ul{
	margin-top: 1vh;
}

li{
    
	display: inline;
	padding: 1vh 6vw 1vh;
    text-shadow: 1px 1px 1px yellow;
    transition: all .2s linear;
}

li:hover{
    color: white;
    background-color: rgb(85, 7, 7); 
    padding: 1vh 9vw 1vh;
    text-shadow: 4px 4px 4px yellow;

}

a{
    text-decoration: none;
    color: white;
    font-size: 1.8vh;
}
h2{
    text-align: center;
}

.seccion1{
    
    margin: 20vh;
    height: 50vh;
    border-radius: 50vh;
    background-color: white;
}


.seccion2{
    padding-top: 10px;
    width: auto;
    height: auto;
    height: 50vh;

}
#bloque1{
    float: left;
    width:49vw;
    height: 50vh;
    
}
#bloque2{
    float: right;
    width:49vw;
    height: 50vh;
    
}

.seccion4{
    
    height: 50vh;   
}


#galeria{
	display: flex;
    margin: 0;
	height: 47vh;
	/* fijamos un tamaño para las imagenes que apareceran en el inicio */
}
#galeria img{
	width: 0;
	flex-grow: .5;
	object-fit: cover;
	transition: .8s;
	/* configuramos el diseño de las imagenes que apareceran en el inicio */
}
#galeria img:hover{
	width: 10%;
	/* hacemos que las imagenes sean interactivas con el cursor */
}

footer{
    padding-top: 10vh;
    text-align: center;
    margin-top: 0;
    min-width: 100%;
    height: 5vh;
    
}
.cajapie{
    float: left;

  
    
}
.container-clock{
	text-shadow: 0 0 10px rgb(230,171,10), 0 0 10px rgb(255,255,22);
}
p{
    align-content: center;
	letter-spacing: 0.1em;
	font-size:1em;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cajapie{
        margin-left:10vw;
    }
    li{
        padding: 1vh 2vw 1vh;
    }
    li:hover{
        padding: 1vh 3vw 1vh;
    }

    
}

@media screen and (min-width: 768px) {
    .cajapie{
        margin-left:20vw;
    }
}

@media screen and (min-width: 1024px) {
    .cajapie{
        margin-left:30vw;
    }
}
