html{
    
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header{
    text-align: center;
    margin: 0;
    height: 15vh;
    
    background-position: 0% 300%;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/fondo1.png");
}

nav	{
	width: 100%;
	height: 40px;
	text-align: center;
    background-color:black;
}

ul{
	margin-top: 10px;
}

li{
	display: inline;
    
}


a{
	text-decoration: none;
	color: white;
	
	padding: 1em 7em 1em;
    
}
a:hover{
    background-color: rgb(88, 2, 2); 

}
h2{
    text-align: center;
}
h4{
    text-align: center;
    margin-top: 0;
}


.titulo{
    margin-top: 4vh;
    color: whitesmoke;
    font-size: 5em;
    text-shadow: 2px 2px 7px gray;
}


.seccion1{
    margin-top: 0;
    width:100%;
    height: 50vh;
    background-color: bisque;


}
.seccion2{
    width: auto;
    height: auto;
}
#bloque1{
    float: left;
    width:49vw;
    height: 50vh;
    background-color: brown;
}
#bloque2{
    float: right;
    width:49vw;
    height: 50vh;
    background-color:crimson
}

.seccion4{
    width:100%;
    height: 50vh;
    background-color: pink;
}


.seccion5{
    margin-top: 1em;
    margin-left: 5vw;
    margin-right: 5vw;
    
    width: auto;
    height: auto;
}
.seccion6{
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: auto;
    height: auto;
}

.seccion7{
    margin-top: 20px;
    align-self: center;
    width: 45vw;
}
.seccion8{
    margin: 0;
    align-self: center;
    width: 45vw;
}
#letraUbi{
    color: black;
    text-align: left;
    margin-top: 5vh;
}

#img_ubi{
    align-self: left;
	border: 1px solid black;
	background-image: url("../img/ub.png");
    background-size: cover;
	height: 30vh;
	width: 45vw;
}

.imagen{
    background-color:black;
    height: 470px;
    width: 300px;
    max-width: 100%;
    max-height: auto;
    
    margin: 15px;
    float: left;


}

.cat1{
	background-image: url("../img/foto1.png");
	background-size: cover;
    height: 423px;

}
p{
    text-align: center;
    color: white;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    
}

.cat2{
	background-image: url("../img/foto2.png");
	background-size: cover;
    height: 423px;
}
.cat3{
	background-image: url("../img/foto3.png");
	background-size: cover;
    height: 423px;
}
.cat4{
	background-image: url("../img/foto4.png");
	background-size: cover;
    height: 423px;
}
.cat5{
	background-image: url("../img/foto5.png");
	background-size: cover;
    height: 423px;
}
.cat6{
	background-image: url("../img/foto6.png");
	background-size: cover;
    height: 423px;
}
.cat7{
	background-image: url("../img/foto7.png");
	background-size: cover;
    height: 423px;
}
.cat8{
	background-image: url("../img/foto8.png");
	background-size: cover;
    height: 423px;
}
.cat9{
	background-image: url("../img/foto9.png");
	background-size: cover;
    height: 423px;
}
.cat10{
	background-image: url("../img/foto10.png");
	background-size: cover;
    height: 423px;
}
.cat11{
    background-image: url("../img/foto11.png");
    background-size: cover;
    height: 423px;
}


table{
	text-align: left;
	height: 30vh;
    width: 45vw;
	margin:0;
}

#caja{
	height:3vh;
	width: 35vw;
}
#comentario{
	height:20vh;
	width: 35vw;
}
footer{
    text-align: center;
    color: black;
    margin-top: 1vh;
    min-width: 100%;
    height: 5vh;
    
}




#galeria{
	display: flex;
    margin-top: -2%;
	height: 47vh;
	width: 100%;
	/* fijamos un tamaño para las imagenes que apareceran en el inicio */
}
#galeria img{
	width: 0px;
	flex-grow: .5;
	object-fit: cover;
	opacity: 0.75;
	transition: .8s;
	/* configuramos el diseño de las imagenes que apareceran en el inicio */
}
#galeria img:hover{
	cursor: pointer;
	width: 20vh;
	opacity: 0.95;
	filter: contrast(120%);
	/* hacemos que las imagenes sean interactivas con el cursor */
}